<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>Login</title>
    
</head>
<body>
    <h1>Quiz App Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>

</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Check if there is a session in session storage
    const username = sessionStorage.getItem('token');

    // If a session is present, redirect to the menu page or another appropriate destination
    if (username) {
        window.location.href = '/menu';  // Change '/menu' to your actual menu route
    }
});
</script>
