<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Quiz Score</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <h1>Your Quiz Score</h1>
    <p>Hello, {{ username }}! Your score for room {{ room_number }} is: {{ score }}</p>
    <p>Thank you for participating!</p>
    <p>Click <a href="{{ url_for('menu') }}">here</a> to go back to the main menu.</p>

</body>
</html>
