<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Quiz App Sign Up</h1>
    <form method="post">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" required><br>

        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <!-- <label for="country">Country:</label>
        <input type="text" name="country" required><br> -->

        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
